$accentColor = #206bc4
$textColor = #232e3c
$borderColor = #206bc4
$codeBgColor = #232e3c
$arrowBgColor = #232e3c
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$homePageWidth = 960px